// Body
$body-bg: #F4F4F4;
$body-color: #0A0B09;

// Typography
$font-family-sans-serif: 'Poppins', 'Battambang', sans-serif;
$font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$font-size-base: 0.9rem;
$letter-spacing: 0.02em;
$line-height-base: 1.6;
$line-height-12: 12px;
$line-height-14: 14px;
$line-height-17: 17px;
$line-height-19: 19px;
$line-height-22: 22px;
$line-height-28: 28px;
$line-height-30: 30px;
$line-height-34: 34px;
$border-radius-2: 2px;
$border-radius-4: 4px;
$border-radius: 6px;
$card-border-radius: 8px;
$border-radius-50: 50%;
$input-border-radius: 4px;
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size: 16px;
$font-size-18: 18px;
$font-size-24: 24px;
$font-weight: 500;
$font-weight-600: 600;

// Colors
$step-status-bg: #d7d8d9;
$input-border-color: #CED4DA;
$sidebar-border: #E0E0E0;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #333;
$primary: #27254F;
$secondary: #9EA1A2;
$success: #689400;
$info: #0071B4;
$warning: #B57302;
$danger: #EB252A;
$light: #f1f4f8;
$dark: #161c2d;
$black: #000000;
$black-01: #0A0B09;
$default: #E9ECEF;
$notice: #467fd0;
$error: #EB252A;
$new: #B73845;
$pending: #B85F00;
$pending-title: #f0decb;
$pending-messenger: #717171;
$all: #8F90A6;
$white: #fff;
$white-01: #FEFEFE;
$white-02: #f1fde4;
$toggle-icon-color: #c4c4c4;
$hover-background: #F4F4F4;
$vtrust-land-building-bg: #F4F4F4;
$re-indication-color: #CDA053;
$step-color: #9D9FA2;
$button-option-color: #e3e3e4;
$table-border-color: #CCD0D7;
$table-color: #0A0B09;
$card-text-color: #0A0B09;
$dt-info-text-color: #4F4F4F;
$filter-svg-icon-cbc: invert(13%) sepia(63%) saturate(6679%) hue-rotate(352deg) brightness(60%) contrast(88%);
$fill-svg-white-f4: invert(100%) sepia(64%) saturate(246%) hue-rotate(187deg) brightness(114%) contrast(91%);
$fill-svg-primary: invert(11%) sepia(47%) saturate(5513%) hue-rotate(346deg) brightness(99%) contrast(95%);

$dropdown-border-op-20: rgba(51, 51, 51, 0.2);
$hover-background-op-20: rgba(244, 244, 244, 0.2);
$primary-op-20: rgba(139, 24, 28, 0.2);
$secondary-op-20: rgba(158, 161, 162, 0.2);
$success-op-20: rgba(104, 148, 0, 0.2);
$info-op-20: rgba(0, 113, 180, 0.2);
$warning-op-20: rgba(181, 115, 2, 0.2);
$danger-op-20: rgba(235, 37, 42, 0.2);
$light-op-20: rgba(241, 244, 248, 0.2);
$dark-op-20: rgba(22, 28, 45, 0.2);
$default-op-20: rgba(233, 236, 239, 0.2);
$notice-op-20: rgba(70, 127, 208, 0.2);
$error-op-20: rgba(235, 37, 42, 0.2);
$new-op-20: rgba(183, 56, 69, 0.2);
$pending-op-20: rgba(184, 95, 0, 0.2);
$all-op-20: rgba(143, 144, 166, 0.2);
$final-draft-op-20: rgba(143,144,166,.2);

$opacity: 0.2;
$opacity-7: 0.7;
$opacity-8: 0.8;
