@font-face {
    font-family: "Moul";
    src: url("../fonts/Moul/Moul-Regular.ttf");
}
@font-face {
    font-family: "Content";
    src: url("../fonts/Content/Content-Regular.ttf");
}
@font-face {
    font-family: "Khmer";
    src: url("../fonts/Khmer/Khmer-Regular.ttf");
}
@font-face {
    font-family: "Siemreap";
    src: url("../fonts/Siemreap/Siemreap-Regular.ttf");
}
@font-face {
    font-family: "OpenSans-Reqular";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "Battambang-Regular";
    src: url("../fonts/Battambang/Battambang-Regular.ttf");
}
@font-face {
    font-family: "Merriweather";
    src: url("../fonts/Merriweather/Merriweather-Regular.ttf");
}

html {
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif !important;
    line-height: 2 !important;
    margin: 0;
    height: 100%;
}

.content-scroll {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.nav-scoll {
    height: 100%;
    width: 100%;
    overflow: auto;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.content-scroll::-webkit-scrollbar,
.nav-scoll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content-scroll,
.nav-scoll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.header-top {
    top: 0;
    z-index: 1;
}
.app-body {
    margin-top: 56px !important;
}

.page-link {
    padding: 0.3rem 0.7em;
}
:root {
    --primary-color: #27254f;
}

.custom-navbar-brand {
    width: 100%;
    background: #dfe6e9;
    padding: 6px;
    font-size: 15px;
    font-weight: normal !important;
}

.main .container-fluid {
    padding: 0px 15px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus {
    border-top: 2px solid var(--primary-color) !important;
}

.btn-primary,
.bg-primary {
    background-color: var(--primary-color) !important;
    border: none;
}
.btn-outline-primary {
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
}
.btn-outline-primary:hover {
    background-color: var(--primary-color) !important;
    color: white;
}
.btn-primary:focus,
.bg-primary:focus {
    border: 3 solid var(--primary-color) !important;
    transition: 0.2s ease;
}

/* contact */
.sidebar.bg-white .nav-link.unactive {
    color: #000 !important;
}
.sidebar.bg-white .nav-link.unactive .nav-icon,
.sidebar.bg-white .nav-link.unactive:hover .nav-icon {
    color: #000 !important;
}
.font-moul {
    font-family: "Moul";
}
.font-content {
    font-family: "Content";
}
.font-khmer {
    font-family: "Khmer";
}
.font-battambang {
    font-family: "OpenSans-Reqular", "Battambang-Regular";
}
.merriweather {
    font-family: "Merriweather";
}
.font-khmer-os-bokor {
    font-family: Khmer OS Bokor;
}
.font-khmer-os-content {
    font-family: Khmer OS Content;
}
.nav-tabs .nav-link {
    padding: 0.5rem 0.8rem;
}
.swal2-popup {
    width: 28em !important;
    font-size: 12px !important;
    background: #f1f4f8 !important;
}
.swal2-html-container {
    font-size: 1.2em !important;
}
.double-line {
    text-decoration: double underline;
}
.line-space {
    line-height: 1.5em;
}
.no-border {
    border: none !important;
}
.border-top {
    border-top: 2px solid #1b2a4e !important;
}
.border-tb {
    border-top: 2px solid #1b2a4e !important;
    border-bottom: 2px solid #1b2a4e !important;
}
/* docs api*/
.css-scroll-fix {
    position: fixed;
    height: calc(100vh - 125px);
    overflow-y: scroll;
}
input[type="file"] {
    line-height: 1.3;
}
.card {
    margin: 0 0 20px 0 !important;
}
.callout-info {
    border-left-color: #63c2de;
}
.callout-success {
    border-left-color: green;
}
.card-border-top {
    border-top: 4px solid #d2d6de;
}
.search-button {
    text-transform: uppercase;
    border-radius: 2px;
}
/* Hide Arrows From Input Number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#datatable_button_stack {
    margin-top: -15px;
}
/* Report: data table style override */
.dt-buttons {
    margin-bottom: -36px;
    padding-right: 4px;
}
.export-button {
    border-radius: 2px !important;
}
.select2-container--bootstrap .select2-selection--single {
    height: 38px !important;
}
.select2-container--bootstrap .select2-selection {
    border-radius: 2px !important;
}
.invalid-feedback {
    display: block;
}
.nav-stacked > li.tab-active,
.nav-stacked > li.tab-active:hover {
    background: #00000003;
    color: #444;
    border-left-color: #3c8dbc !important;
    border-top: 1px solid #f4f4f4;
    border-left-color: #3c8dbc !important;
    border-bottom: 2px solid #f4f4f4;
    border-right: 0px;
}
.nav-stacked > li > a {
    cursor: pointer;
    color: #444;
    padding: 10px 0px;
    text-decoration: none;
}
.list-group-item {
    border: 3px solid transparent;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus {
    border-top: 2px solid #41ba96;
}

.sidebar.sidebar-pills .nav-link,
.sidebar.sidebar-pills .nav-title {
    font-family: "OpenSans-Reqular", "Battambang-Regular";
    padding: 0rem 0.25rem 0.5rem 0.75rem;
}
.app-header .dropdown-item {
    font-family: "OpenSans-Reqular", "Battambang-Regular";
}
.nav-tabs .nav-link {
    padding: 0.5rem 0.7rem;
}
.nav-item:not(li[role="presentation"]) {
    margin: 5px 0px !important;
}
@media (max-width: 720px) {
    .navbar-brand {
        text-align: center;
        visibility: hidden;
    }
}
/* END TOOLTIP */
@media only screen and (min-width: 768px) {
    .css-scroll-fix {
        /* position: fixed; */
        top: 65px;
    }
}
element.style {
    width: 19px !important;
}
/* Preview documentation in customer */
.text-file {
    width: 170px;
    word-wrap: break-word;
}
.modify-width {
    padding-left: 175px !important;
}
.modify-width:first-child {
    padding-left: 10px !important;
}
/* Property table sticky */
.table-sticky-list tr th:last-child,
.table-sticky-list tr td:last-child {
    position: sticky !important;
    right: 0;
    background-color: #f9fbfd !important;
}
.collection-sheet-table-sticky tr td:first-child {
    position: sticky !important;
    left: 0;
    background-color: #f9fbfd !important;
}

.report-table-sticky tr td:nth-child(2) {
    position: sticky !important;
    left: 0;
    z-index: 1;
    background-color: #ffffff !important;
}
.report-table-sticky tr td:nth-child(3) {
    position: sticky !important;
    left: 140px;
    z-index: 1;
    position: -webkit-sticky;
    background-color: #ffffff !important;
}

.report-table-sticky tr th:nth-child(2) {
    position: sticky !important;
    left: 0;
    z-index: 1;
    background-color: #fbfbfb !important;
}
.report-table-sticky tr th:nth-child(3) {
    position: sticky !important;
    left: 140px;
    z-index: 1;
    background-color: #f9fbfd !important;
}
.report-customer-table-sticky tr th:nth-child(3) {
    position: sticky !important;
    left: 0;
    z-index: 1;
    background-color: #f9fbfd !important;
}
.report-customer-table-sticky tr td:nth-child(3) {
    position: sticky !important;
    left: 0;
    z-index: 1;
    background-color: #fbfbfb !important;
}
.report-memo-right-table-sticky tr th:last-child {
    position: sticky !important;
    right: 0;
    z-index: 1;
    background-color: #fbfbfb !important;
}
.report-memo-right-table-sticky tr td:last-child {
    position: sticky !important;
    right: 0;
    z-index: 1;
    background-color: #ffffff !important;
}

.disbursement-box,
.nav-tabs-custom {
    border-bottom: 1px solid #d2d6de !important;
}
.sidebar.sidebar-pills {
    text-transform: capitalize;
}
.sidebar.sidebar-pills .nav-dropdown.open .nav-link {
    text-transform: capitalize;
}
.sidebar.sidebar-pills .nav-link,
.sidebar.sidebar-pills .nav-title {
    text-transform: capitalize;
}
.h-custom {
    margin-bottom: 0.2rem !important;
    padding-right: 20px;
    padding-left: 20px;
}
label {
    text-transform: capitalize !important;
}

.lds-dual-ring-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background: #c4b2b240;
    z-index: 999;
}
.lds-dual-ring {
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 5% auto;
    border-radius: 50%;
    border: 6px solid #ffffff;
    border-color: #4a4949 transparent #4a4949 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    opacity: 1;
    transition: all 0.5s;
}

.border-zero,
.table td,
.table th {
    border-top: 0px !important;
}

.border-zero,
.table td {
    padding: 0.3rem !important;
    padding-left: 0.75rem !important;
}

/* Carousel Style */
.carousel-indicators li {
    background-color: #7c69ef;
}
.carousel-control-prev-icon {
    background-color: #7c69ef;
}
.carousel-indicators {
    position: inherit;
}

/* Datatable Custom Style */
.buttons-html5,
.buttons-print {
    color: #1b2a4e !important;
    padding: 4px 12px !important;
    font-size: 12px !important;
    border-radius: 2px !important;
    border: 1px solid #dbdbde !important;
    font-weight: bold !important;
}

div.dt-buttons {
    margin-bottom: 20px;
}

.dataTables_length {
    position: absolute;
}

div.dataTables_wrapper div.dataTables_length select {
    min-width: 100px;
}

.input-group-addon {
    padding: 8px 10px;
    font-size: 22px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 0px;
    border-radius: 2px 0px 0 2px;
}

.input-group .form-control {
    margin-left: 0 !important;
}

/* FILTER POP UP  FORM */
.sidenav {
    max-width: 400px;
    height: auto;
    width: 25%;
    position: absolute;
    z-index: 1021;
    top: 231px;
    right: 46px;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
}

.avatar_small {
    border-radius: var(--avatar-small-border-radius);
    width: var(--avatar-small-width);
    min-width: var(--avatar-small-width);
    height: var(--avatar-small-height);
    line-height: var(--avatar-small-height);
    font-size: 13px;
}
.avatar_medium {
    border-radius: var(--avatar-medium-border-radius);
    width: var(--avatar-medium-width);
    min-width: var(--avatar-medium-width);
    height: var(--avatar-medium-height);
    line-height: var(--avatar-medium-height);
    font-size: 13px;
}

:root {
    --avatar-small-border-radius: 50%;
    --avatar-small-width: 26px;
    --avatar-small-height: 26px;
    --avatar-medium-border-radius: 50%;
    --avatar-medium-width: 32px;
    --avatar-medium-height: 32px;
}